body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: url("./assets/background_image.jpg");
    position:relative;
    height:100vh;
    width:100vw;
}

body::before {
    content: "";
    color:white;
    min-height:100%;
    min-width:100%;
    position:absolute;
    left:0px;
    height:0px;
    background: rgba(0, 0, 0, 0.5);
}

#game-container {
    position:absolute;
    height:100%;
    width: 100%;
    top:0px;
    left:0px;
}

#heading{
    font-family: 'Permanent Marker', cursive;
    font-size: 3.125rem;
    text-align: center;
    color: #fff;
    font-weight: bolder;
    text-shadow: 2px 2px rgb(100, 200, 180);
    margin-top:1rem;
    /* animation: upDown 1s ease-in-out infinite alternate; */
}

#game{
    width: 60%;
    min-height: 31.25rem;
    border-color: white;
    border-style: solid;
    margin: auto;
    margin-top: 1.25rem;
    background-color: rgba(0, 0, 0, 0.3);
    align-items: center;
    text-align: center;
    box-shadow: 1px 1px 10px 5px rgba(255, 255 ,255 ,0.6);
    padding:10px 15px;
}

#boss{
    display: flex;
    justify-content: center;
    align-items: center;
}

#dialogue{
    text-align: center;
    justify-content: center;
    display: inline-block;
    width: 180px;
    height: 150px;
    margin-bottom: 90px;
    background-image: url('./assets/dialoguebox.png');
    background-size: 180px 150px;
    font-family: monospace;
    animation: upDown 1s ease-in-out infinite alternate;
    font-size: 10px;
}

#bot{
    display: inline-block;
    width: 90px;
    height: 180px;
    margin-top: 50px;
    margin-left: 150px;
    background-image: url('./assets/boss.png');
    background-size: 90px 180px;
}

/* up and down effect keyframes */
@keyframes upDown{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(0px);
    }
}

#ui{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border:2px solid red; */
    flex-wrap: wrap;
}

#guess{
    color:white;
    font-family: monospace;
    font-size: 1.5rem;
    /* border:2px solid yellow; */
}

#guest{
    color: black;
    font-size: 1.3rem;
    padding:5px 10px;
    font-family: monospace;
    margin : 10px;
    border-radius:5px;
    outline:none;
}

#submit{
    font-size: 1.2rem;
    padding:5px 15px;
    font-family: monospace;
    background-color: rgb(57, 227, 57);
    border-radius: 10px;
    box-shadow: 2px 2px rgb(36, 149, 36);
    border: 1px solid green;
    cursor:pointer;
}

#score{
    color: white;
    font-family: monospace;
    font-size: 20px;
    margin-top: 20px;
    font-weight: bold;
}

#inst{
    display: inline-block;
    text-align: left;
    color: #ff4a54;
    font-family: monospace;
    font-size: 16px;
    margin-top: 40px;
    margin:auto;
    margin-top: 20px;
}

.message-image {
    width:10px;
    height:10px;
}
@media only screen and (max-width: 1150px) {
    #guess {
        font-size : 1.2rem;
    }

    #guest, #submit{
        font-size: 1rem;
    }

    #inst {
        font-size:0.85rem;
    }
}  

@media screen and (max-width: 745px) {
    #guess, #score{
        font-size: 1rem;
    }

    #inst{
        font-size: 0.85rem;
    }

    #game{
        height: auto;
    }
}

@media screen and (max-width: 715px) {
    #game{
        margin-bottom: 20px;
    }

    #score{
        font-size: 0.85rem;
    }
    
    #dialogue{
        width: 144px;
        height: 120px;
        background-size: 144px 120px;
    }
    
    #bot{
        width: 72px;
        height: 144px;
        background-size: 72px 144px;
        margin-left: 0px;
    }

    #heading{
        font-size: 2rem;
    }
}

@media screen and (max-width : 580px) {
    #guest {
        text-align: center;
    }
}

@media screen and (max-width: 390px) {
    #input {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    #guest {
        width:95%;
    }
}